<?xml version="1.0"?>
<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertWarningsToExceptions="true"
	convertNoticesToExceptions="true"
	convertDeprecationsToExceptions="true"
    printerClass="PHPUnit\Util\TestDox\CliTestDoxPrinter"
	>
	<testsuites>
		<testsuite name="conversions">
			<directory prefix="Convert" suffix=".php">./tests/Unit</directory>
		</testsuite>
	</testsuites>
</phpunit>
